<div class="container">
  <div class="row">
    <app-pokemon-list-item class="col-sm-6 col-md-4 col-lg-3" *ngFor="let pokemon of pokemons" [pokemon]="pokemon"></app-pokemon-list-item>
  </div>
</div>

