<div *ngIf="pokemon" class="mb-4 own-shadow bg-white rounded pb-3">

  <section class="text-center pt-5 pb-2">
    <img [src]="pokemon.img" [alt]="pokemon.name" class="img-fluid">
  </section>
  <section class="text-center mb-4">
    <h4>{{pokemon.name | titlecase}}</h4>
  </section>

  <div class="text-center">
    <app-favourite-button  [pokemonId]="pokemon.id"></app-favourite-button>
  </div>

</div>
