<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mb-5 p-3 border-bottom">
  <a class="navbar-brand" href="#">Pokemon Trainer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="user !== undefined" class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="pokemons">Pokemons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="trainer">Trainer</a>
      </li>
    </ul>
  </div>
</nav>
