<header class="container text-white mb-5 ">
    <h1 class="ps-3 mb-4">Welcome {{user?.username}}!</h1>
    <h4 class="ps-3">Your collected Pokemons</h4>
</header>

<main class="container">
    <app-pokemon-list [pokemons]="favourites"></app-pokemon-list>
</main>
