<form class="bg-light p-3 rounded" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
  <div class="form-group mb-3">
    <label class="mb-2" for="username">Username</label>
    <input type="text"
           ngModel
           #username="ngModel"
           name="username"
           id="username"
           class="form-control"
           placeholder="Type your username...">
  </div>

  <button type="submit" class="btn btn-warning">Login</button>
</form>
